@font-face {
    font-family: 'RingBearer';
    src: url('../fonts/RingbearerMedium-51mgZ.ttf') format('truetype');
}

@font-face {
    font-family: 'PlaneWalker';
    src: url('../fonts/Planewalker-38m6.ttf') format('truetype');
}

@font-face {
    font-family: 'NeuSharp';
    src: url('../fonts/NeusharpBold-7B8RV.otf') format('truetype');
}

@font-face {
    font-family: 'Aniron';
    src: url('../fonts/anirm___.ttf') format('truetype');
}

.card-title{
    font-family: "Aniron";
    color: bisque;
    margin-top: 0;
}

.title-img{
    width: 12%;
}

.title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.letter-height{
    position: relative;
    top: -0.2em;
    font-size: 0.75em;
}

.safebox-main-container{
    background-color: rgba(15, 24, 30, 0.8);
    width: 35vw;
    min-height: 55vh;
    border-radius: 20px;
    padding: 2em;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-container{
    width: 87%;
    background-color:  rgba(9, 14, 18, 0.5);
    border-radius: 10px;
    padding: 0 1.5em;
    margin-bottom: 1.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.safebox-name{
    font-family: "NeuSharp";
    font-size: 1.3em;
    cursor: pointer;
    color: #ffe4c4;

}

.name-container:hover .safebox-name {
    color: #DCB55A;
}

.safebox{
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
width: 100%;
}

.safebox-list{
    max-height: 300px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Style the scrollbar */
.safebox-list::-webkit-scrollbar {
    width: 10px;
    border-radius: 4px;
}

/* Style the scrollbar track */
.safebox-list::-webkit-scrollbar-track {
    background: #0D151A;
    border-radius: 10px;
}

/* Handle */
.safebox-list::-webkit-scrollbar-thumb {
    background: #5B6549;
    border-radius: 10px;
}

/* Handle on hover */
.safebox-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.safebox-button {
    width: 50px;
    height: 50px;
    align-self: center;
    font-size: 0.8em;
    border-radius: 50%;
    padding: 10px;
    color: #f3e6ca!important;
    background-color: #e4782f!important;
    border: none!important;
    cursor: pointer;
    font-family: 'NeuSharp'!important;
    transition: font-size 0.3s ease;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.safebox-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(132, 132, 132, 0.918);

}

.minus-btn{
    width: 30px;
    height: 30px;
    margin-left: 4em;
}

.input-icon{
    width: 90%;
}

.minus-icon{
    width: 120%;
}
.create-safebox-form-container{
    width: 100%;
}

.create-safebox-form-container form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

label {
    font-family: 'RingBearer';
    font-size: 0.8em;
    color: bisque;
}

input.create-safebox-btn {
    width: 10rem;
    height: 40px;
    align-self: center;
    font-size: 0.8em;
    border-radius: 12px;
    padding: 10px;
    color: #f3e6ca!important;
    background-color: #e4782f!important;
    border: none!important;
    cursor: pointer;
    font-family: 'NeuSharp'!important;
    transition: font-size 0.3s ease;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

input.create-safebox-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(132, 132, 132, 0.918);
}

input[type="text"], input[type="email"], input[type="password"] {
    background-color: rgba(237, 216, 184, 0.5);
    border: none; /* pas de bordure */
    border-radius: 20px;
    border: 1px solid #262626;
    padding-left: 4.5em;
    width: 100%;
    height: 3em;
    font-family: 'NeuSharp';
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    outline: none; /* pas de contour lors du focus */
    font-family: 'NeuSharp';
    width: 100%;
    border: 1px solid #3a9594;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}



.input-container{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 1.4em;
    align-self: center;
}

::placeholder {
    color: #8C8C7E;
    opacity: 1; /* Firefox */
    font-family: 'NeuSharp';
    font-weight: 400;
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder {
    color: #8C8C7E;
    font-family: 'NeuSharp';
    font-weight: 400;
}

/* Edge */
::-ms-input-placeholder {
    color: #8C8C7E;
    font-family: 'NeuSharp';
    font-weight: 400;
}