{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <title>ShallNotPass</title>
</head>
<body>
    <div class="home-container">
        <h1>Bienvenue sur ShallNotPass !</h1>
        <img  class="logo" src="../static/images/logo.png" alt="logo shield with gold key">
        <p>La magie d'un gestionnaire de mots de passe sûr et simple d'utilisation</p>
        <ul>
            <li>
                <img class="svg-icon" src="../static/images/password-svgrepo-com.svg" alt="password icon">
                Générez des mots de passe sécurisés</li>
            <li>
                <img class="svg-icon" src="../static/images/folder-check-svgrepo-com.svg" alt="folder icon">
                Stockez vos mots de passe</li>
            <li>
                <img class="svg-icon" src="../static/images/sort-horizontal-svgrepo-com.svg" alt="sort icon">
                Organisez les sans limite</li>
        </ul>
        <button class="subscribe-btn" onclick="location.href='signup/';">Commencer</button>
    </div>
</body>
</html>