{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'manager.css' %}">
    <title>ShallNotPass</title>
</head>
<body>
    {% include 'navigation.html' %}
    <h1>Retrouvez ici la liste de vos Coffres-forts</h1>
    <p>Créez un coffre-fort et rangez-y vos mots de passe</p>
    <div class="card-container">
        <div class="card">
            <h2 class="card-title">Titre</h2>
            <button class="add-password-button">Créer un coffre</button>
        </div>
        <!-- Ajoutez plus de cartes ici -->
    </div>
</body>
</html>