{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'manager.css' %}">
    <title>ShallNotPass</title>
</head>
<body>
    {% include 'navigation.html' %}
    <h1>Retrouvez ici la liste de vos Coffres-forts</h1>
    <p>Créez un coffre-fort et rangez-y vos mots de passe</p>
    <div class="card-container">
        <div class="card">
            <h2 class="card-title">Titre</h2>
            <div id="create-safebox-form-container" style="display: none;" >
                <form id="create-safebox-form" method="post">
                    {% csrf_token %}
                    {{ form.name.label_tag }}<br>
                    {{ form.name }}
                    <input type="submit" value="Créer">
                </form>
            </div>
            <button class="add-safebox-button">Créer un coffre</button>
        </div>
        <div class="safebox-container">
            {% if safeboxes %}
                {% for safebox in safeboxes %}
                    <div class="safebox">
                        <h2>{{ safebox.name }}</h2>
                        <!-- Ajoutez plus d'informations sur le coffre-fort ici -->
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucun coffre fort existant</p>
            {% endif %}
        </div>
        <!-- Ajoutez plus de cartes ici -->
    </div>
    <script>
        document.querySelector('.add-safebox-button').addEventListener('click', function() {
        document.getElementById('create-safebox-form-container').style.display = 'block';
});
    </script>
</body>
</html>