{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'manager.css' %}">
    <title>ShallNotPass</title>
</head>
<body>
    {% include 'navigation.html' %}
    <h1>Retrouvez ici la liste de vos Coffres-forts</h1>
    <p>Créez un coffre-fort et rangez-y vos mots de passe</p>
    <div class="card-container">
        <div class="card">
            <h2 class="card-title">Mes coffres-forts</h2>
            <div class="safebox-container">
                {% if safeboxes %}
                    {% for safebox in safeboxes %}
                        <div class="safebox">
                            <h2 class="safebox-name" onclick="showSafebox('{{ safebox.id }}')">{{ safebox.name }}</h2>
                                <div id="safebox-{{ safebox.id }}" class="safebox" style="display: none;">
                                    {% include 'safeBoxContainer.html' with name=safebox.name %}
                                </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Aucun coffre fort existant</p>
                {% endif %}
            </div>
            <div id="create-safebox-form-container" style="display: none;" >
                <form id="create-safebox-form" method="post">
                    {% csrf_token %}
                    {{ form.name.label_tag }}<br>
                    {{ form.name }}
                    <input type="submit" value="Créer">
                </form>
            </div>
            <button class="add-safebox-button">Créer un coffre</button>
        </div>
        <!-- Ajoutez plus de cartes ici -->
    </div>
    <script>
        document.querySelector('.add-safebox-button').addEventListener('click', function() {
        document.getElementById('create-safebox-form-container').style.display = 'block';
});
function showSafebox(id) {
    var safebox = document.getElementById('safebox-' + id);
    if (safebox.style.display === 'none') {
        safebox.style.display = 'block';
    } else {
        safebox.style.display = 'none';
    }
}
    </script>
</body>
</html>