{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/navigation.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><img class="logo-nav" src="{% static 'images/logo.png' %}" alt="logo shield with gold key"></li>
            {% if not user.is_authenticated %}
            <li><a href="{% url 'index' %}">Accueil</a></li>
            <li><a href="{% url 'signUp' %}">S'inscrire</a></li>
            <li><a href="{% url 'signIn' %}">Se connecter</a></li>
            {% else %}
            <li>Bienvenue {{ user.username }}</li>
            <li><a href="{% url 'index' %}">Accueil</a></li>
            <li><a href="{% url 'myPasswordsManager' %}">Manager de mots de passe</a></li>
            <li><a href="{% url 'signOut' %}">Se déconnecter</a></li>
            {% endif %}
        </ul>
    </nav>
</body>
</html>