{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/safeBoxContainer.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <title>ShallNotPass</title>
</head>

<body>
    {% include 'navigation.html' %}
    <div class="dataCard-main-container">
        <img class="passwords-title-img" src="{% static 'images/mage.png' %}" alt="mage">
        <div class="title-container" id="title-safebox">

            Mots de passe stockés dans le coffre <br>
            <span id="safebox-name">{{ safebox.name }}</span>

        </div>

        <div class="title-container" id="title-secret-card">

            Carte d'informations secrètes dans <br>
            <span id="safebox-name">{{ safebox.name }}</span>
        </div>

        <div class="display-password-data"></div>
        <div id="update-field-modal" style="display: none;">
        </div>
        <div class="password-data-list">
            {% if passwordDatas %}
            {% for passwordData in passwordDatas %}

            <div id="dataCard-{{ passwordData.id }}" class="dataCard-name-container">
                <h2 class="dataCard-name" data-id="{{ passwordData.id }}" onclick="showCardInformations(this)">
                    {{passwordData.websiteName}}</h2>

                <button id="delete-card" class="minus-btn" onclick="deleteCard(this)" data-id="{{ passwordData.id }}">

                    <img class="input-icon minus-icon" src="/static/images/minus-solid.svg" alt="add icon">
                </button>
            </div>

            {% endfor %}
            {% else %}
            <p>Aucun mot-de-passe enregistré</p>
            {% endif %}

        </div>

        <button class="add-card-btn" onclick="showCreateNewCardForm()">Ajouter un mot de passe</button>
        <div id="createNewCardForm-container" style="display: none;">
            <form id="createNewCardForm" method="POST" action="{% url 'createNewCard' %}">
                {% csrf_token %}
                <div class="input-group">
                    <label for="websiteName">Nom du site</label>
                    <input type="text" id="websiteName" name="websiteName" class="input-card" required>
                </div>
                <div class="input-group">
                    <label for="websiteUrl">URL du site</label>
                    <input type="url" id="websiteUrl" name="websiteUrl" class="input-card">
                </div>
                <div class="input-group">
                    <label for="userName">Nom d'utilisateur</label>
                    <input type="text" id="userName" name="userName" class="input-card">
                </div>
                <div class="input-group">
                    <label for="password">Mot de passe</label>
                    <div class="input-wrapper">
                        <input type="password" id="password-input" name="password" class="input-card" required>
                        <button class="toggle-password random-btn" onclick="togglePasswordVisibility(event, this.previousElementSibling);">
                            <img class="input-icon visibility-icon" src="/static/images/eye-solid.svg"
                                alt="toggle visibility">
                        </button>
                        <button class="random-btn"
                            onclick="generatePassword(event)">
                            <img class="input-icon random-icon" src="/static/images/shuffle-solid.svg"
                                alt="random icon">
                        </button>
                        </input>
                    </div>

                </div>
                <input type="hidden" name="id" value="{{ safebox.id }}">
                <button type="submit" class="add-card-form-button">Créer</button>
            </form>
        </div>
        <div id=" success" style="display: none;">Carte ajoutée avec succès
        </div>
    </div>
    <button class="goback-btn" onclick="goBack()"><img class="goback-icon"
            src="{% static 'images/arrow-left-solid.svg' %}" alt="arrow-left">Revenir à la galerie des coffres</button>

    <button class="goback-btn goTopasswordList" onclick="goBackToPasswordList()">
        <img class="goback-icon" src="{% static 'images/arrow-left-solid.svg' %}" alt="arrow-left">Revenir à la liste
        des mots de passe
    </button>

    <script>

        var isFirstRender = true;

        document.addEventListener('DOMContentLoaded', function () {
            if (isFirstRender) {
                var toSafeboxBtn = document.querySelector('.goTopasswordList');

                // Cachez toSafeboxBtn
                toSafeboxBtn.style.display = 'none';

                // Mettez à jour isFirstRender
                isFirstRender = false;
            }
        });

        function generatePassword(event) {
            event.preventDefault();

            var passwordInput = document.querySelector('#password-input');

            var length = 12,
                charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*",
                retVal = "";
            for (var i = 0, n = charset.length; i < length; ++i) {
                retVal += charset.charAt(Math.floor(Math.random() * n));
            }
            passwordInput.value = retVal;
        }

        function togglePasswordVisibility(event, input) {
            event.preventDefault();
            console.log('TOGGLE');
            console.log('INPUT TOGGLE', input);
            var passwordInput = document.getElementById('password-input');
        if (input.type === "password") {
            input.type = "text";
        } else {
            input.type = "password";
        }
    }

        function goBack() {
            window.history.back();
        }

        document.querySelector('#createNewCardForm').addEventListener('submit', submitForm);

        function goBackToPasswordList() {
            var displayPasswordData = document.querySelector('.display-password-data');
            var passwordDataList = document.querySelector('.password-data-list');
            var goBackButton = document.querySelector('.goback-btn');
            var toSafeboxBtn = document.querySelector('.goTopasswordList');
            var titleContainer = document.querySelector('.title-container');
            var addButton = document.querySelector('.add-card-btn');

            // Cachez displayPasswordData et affichez passwordDataList
            displayPasswordData.style.display = 'none';
            passwordDataList.style.display = 'block';
            goBackButton.style.display = 'flex';
            toSafeboxBtn.style.display = 'none';
            addButton.style.display = 'flex';
        }

        function showCreateNewCardForm() {
            var form = document.getElementById('createNewCardForm-container');
            form.style.display = 'flex';

            var button = document.querySelector('.add-card-btn');
            button.style.display = 'none';

            var passwordList = document.querySelector('.password-data-list');
            passwordList.style.display = 'none';

            var titleContainer = document.querySelector('.title-container');
            titleContainer.style.display = 'none';
        }

        window.onload = function () {
            var form = document.getElementById('createNewCardForm-container');
            form.addEventListener('submit', function () {
                var titleContainer = document.querySelector('.title-container');
                titleContainer.style.display = 'flex';
            });
        };

        function showCardInformations(id) {
            console.log("ID",id);

            var passwordListContainer = document.querySelector('.password-data-list');

            passwordListContainer.style.display = 'none';


            // Changez le texte du bouton
            // goBackButton.textContent = 'Revenir à la liste des mots de passe';
            var idValue = id.dataset ? id.dataset.id : id;
            var csrfToken = getCookie('csrftoken');

            fetch('getPasswordData/' + idValue + '/', {
                method: 'GET',
                headers: {
                    'X-CSRFToken': csrfToken
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erreur lors de la récupération des informations du mot de passe');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data);
                    // Appeler une fonction pour afficher les informations du mot de passe
                    displayPasswordData(data.passwordDatas);
                })
                .catch(error => {
                    console.error('Erreur:', error);
                });
        }

        function displayPasswordData(passwordData) {
            console.log('PASSWORDATA',passwordData)
            var titleSafebox = document.querySelector('#title-safebox');
            var titleContainer = document.querySelector('#title-secret-card');
            var safeboxName = document.querySelector('#safebox-name');

            // titleContainer.innerHTML = 'Carte d\'informations secrètes <br><span id="safebox-name">' + passwordData.websiteName + '</span>';
            var addButton = document.querySelector('.add-card-btn');
            titleSafebox.style.display = 'none';
            titleContainer.style.display = 'flex';
            // Faites disparaître le bouton
            addButton.style.display = 'none';
            // Sélectionnez l'élément où vous voulez afficher les données
            var goBackButton = document.querySelector('.goback-btn');
            var goTopasswordListBtn = document.querySelector('.goTopasswordList');
            var subContainer = document.querySelector('.display-password-data');

            subContainer.style.display = 'block';
            goBackButton.style.display = 'none';
            goTopasswordListBtn.style.display = 'flex';

            var htmlContent = '';

            // Parcourez chaque élément de passwordData
            for (var key in passwordData) {
                // Si la clé est 'safebox' ou 'id', continuez à la prochaine itération
                if (key === 'safebox' || key === 'id') continue;

                var inputType = 'text'; // Par défaut, le type d'input est 'text'
                var inputLabel = '';


                if (key === 'password') {
                inputType = 'password';
                inputName = 'password';
                inputLabel = 'password';

                // Si l'input est de type password, ajoutez le bouton de visibilité
                htmlContent +=
                    '<div class="input-group-infos"><label class="disabled-label">' + inputLabel + '</label><input class="input-card password-card-input disabled-input" data-id="'+ passwordData.id+'" name="'+ inputName + '" type="' + inputType + '" value="' + '" disabled>' + '<button class="toggle-password random-btn" onclick="togglePasswordVisibility(event,this.previousElementSibling)">' +
                    '<img class="input-icon visibility-icon" src="/static/images/eye-solid.svg" alt="toggle visibility">' +
                    '</button>' +
                        '<button class="update-btn" onclick="enableInputs(event, this.previousElementSibling.previousElementSibling)"><img class="input-icon update-icon" src="/static/images/pencil-solid.svg" alt="add icon"></button>' +
                        '<button class="update-btn update-submit-btn" onclick="updateField(event, this.previousElementSibling.previousElementSibling.previousElementSibling)"><img class="input-icon submit-icon" src="/static/images/check-solid.svg" alt="add icon"></button></div>'
                }else if (key === 'websiteUrl') {
                    inputType = 'url';
                    inputName = 'websiteUrl';
                    inputLabel = 'Adresse du site'

                    htmlContent += '<div class="input-group-infos"><label class="disabled-label">' + inputLabel + '</label><input class="input-card disabled-input" data-id="'+ passwordData.id+'" name="'+ inputName + '" type="' + inputType + '" value="' + passwordData[key] + '" disabled><button class="update-btn" onclick="enableInputs(event, this.previousElementSibling)"><img class="input-icon update-icon" src="/static/images/pencil-solid.svg" alt="add icon"></button>'
                    + '<button class="update-btn update-submit-btn" onclick="updateField(event, this.previousElementSibling.previousElementSibling)"><img class="input-icon submit-icon" src="/static/images/check-solid.svg" alt="add icon"></button></div>';
                } else if (key === 'userName') {
                    inputType = 'text';
                    inputName = 'userName';
                    inputLabel = "Nom d'utilisateur";

                    htmlContent += '<div class="input-group-infos"><label class="disabled-label">' + inputLabel + '</label><input class="input-card disabled-input" data-id="'+ passwordData.id+'" name="'+ inputName + '" type="' + inputType + '" value="' + passwordData[key] + '" disabled><button class="update-btn" onclick="enableInputs(event, this.previousElementSibling)"><img class="input-icon update-icon" src="/static/images/pencil-solid.svg" alt="add icon"></button>'
                    + '<button class="update-btn update-submit-btn" onclick="updateField(event, this.previousElementSibling.previousElementSibling)"><img class="input-icon submit-icon" src="/static/images/check-solid.svg" alt="add icon"></button></div>';
                } else if (key === 'websiteName') {
                    inputType = 'text';
                    inputName = 'websiteName';
                    inputLabel = 'Nom du site'

                    htmlContent += '<div class="input-group-infos"><label class="disabled-label">' + inputLabel + '</label><input class="input-card disabled-input" data-id="'+ passwordData.id+'"name="'+ inputName + '" type="' + inputType + '" value="' + passwordData[key] + '" disabled><button class="update-btn" onclick="enableInputs(event, this.previousElementSibling)"><img class="input-icon update-icon" src="/static/images/pencil-solid.svg" alt="add icon"></button>'
                    + '<button class="update-btn update-submit-btn" onclick="updateField(event, this.previousElementSibling.previousElementSibling)"><img class="input-icon submit-icon" src="/static/images/check-solid.svg" alt="add icon"></button></div>';
                }

                // Ajoutez le label et l'input à htmlContent
                
            }

            htmlContent += '</div>'; // Fermez la div .inputs-data-container

            // Mettez à jour le contenu HTML de container
            subContainer.innerHTML = htmlContent;
        }

        function enableInputs(event, input) {
            event.preventDefault();
            input.removeAttribute('disabled');
        }

        function updateField(event, field){
            var csrfToken = getCookie('csrftoken');
            fieldName = field.getAttribute('name');
            fieldValue = field.value;
            idValue = field.dataset.id;

            var data = {};
            data[fieldName] = fieldValue;

            var jsonData = JSON.stringify(data);
            console.log('JSON', jsonData);

            fetch('updateField/' + fieldName + '/' + idValue + '/', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken,
                },
                body: jsonData,
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
                var messageDiv = document.getElementById('update-field-modal');
                messageDiv.style.display = 'flex';
                messageDiv.innerHTML = 'Le champ ' + fieldName + ' a été modifié' + '<button id="check" class="update-btn minus-btn update-field-check"><img src="/static/images/check-solid.svg" alt="check icon"></button>';
                setTimeout(function() {
                    messageDiv.style.display = 'none';
                }, 3000);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
                        
        }


        function deleteCard(id) {
            var csrfToken = getCookie('csrftoken');
            var idValue = id.dataset.id

            fetch('deleteCard/' + idValue + '/', {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': csrfToken
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erreur lors de la suppression de la carte');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.success) {
                        var card = document.getElementById('dataCard-' + idValue);
                        card.parentNode.removeChild(card);
                    } else {
                        console.error('Erreur:', data.message);
                    }
                })
                .catch(error => {
                    console.error('Erreur:', error);
                });
        }

        function submitForm(event) {
            event.preventDefault();

            var form = this;
            var formData = new FormData(form);

            var csrfToken = getCookie('csrftoken');

            fetch(form.action, {
                method: form.method,
                body: formData,
                headers: {
                    'X-CSRFToken': csrfToken
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log(data);
                        // Afficher la nouvelle carte
                        
                        // Cacher le formulaire
                        form.reset(); // Réinitialiser le formulaire
                        form.style.display = 'none';
                        
                        goBackToPasswordList();
                        var passwordList = document.querySelector('.password-data-list');
                        var newCard = document.createElement('div');
                        newCard.innerHTML = `
                            <div id="dataCard-${data.passwordData.id}" class="dataCard-name-container">
                                <h2 class="dataCard-name" data-id="${data.passwordData.id}" onclick="showCardInformations(${data.passwordData.id})">
                                    ${data.passwordData.websiteName}
                                </h2>
                                <button id="delete-card" class="minus-btn" onclick="deleteCard(this)" data-id="${data.passwordData.id}">
                                    <img class="input-icon minus-icon" src="/static/images/minus-solid.svg" alt="add icon">
                                </button>
                            </div>
                        `;

                        var titleSafebox = document.querySelector('#title-safebox');
                        titleSafebox.style.display = 'none';
                        var titleList = document.querySelector('#title-secret-card');
                        titleList.style.display = 'flex';

                        passwordList.appendChild(newCard);

                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // document.getElementById('createNewCardForm').addEventListener('submit', submitForm);
    </script>
</body>

</html>