{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'signUp.css' %}">
    <title>ShallNotPass</title>
</head>
<body>
    {% include 'navigation.html' %}
        <form action="{% url 'signUp' %}" method="post">
            <h1>INSCRIPTION</h1>
            {% csrf_token %}
            {{ form.username.label_tag }}
            <div class="input-container">
                <img class="input-icon user-icn" src="{% static 'user-regular.svg' %}" alt="description de l'image"><br>
                {{ form.username }}<br>
            </div>
            {{ form.email.label_tag }}
            <div class="input-container">
                <img class="input-icon mail-icn" src="{% static 'envelope-regular.svg' %}" alt="description de l'image"><br>
                {{ form.email }}<br>
            </div>
            {{ form.password.label_tag }}
            <div class="input-container">
                <img class="input-icon" src="{% static 'padlock-outlined-svgrepo-com.svg' %}" alt="description de l'image"><br>
                {{ form.password }}<br>
            </div>
            <input class="submit-btn" type="submit" value="S'inscrire">
        </form>
   <div id="successModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Inscription réussie !</p>
        </div>
    <script>
        var modal = document.getElementById("successModal");
        var span = document.getElementsByClassName("close")[0];

        document.querySelector("form").addEventListener("submit", function(event) {
            event.preventDefault();
            modal.style.display = "block";
        });

        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        document.querySelector("form").addEventListener("submit", function(event) {
    var passwordInput = document.querySelector('input[type="password"]');
    var password = passwordInput.value;
    var regex = /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}$/;
    if (!regex.test(password)) {
        var errorDiv = document.createElement("div");
        errorDiv.className = "div-error"; // Ajoute la classe "div-error" à la div
        errorDiv.textContent = "Le mot de passe doit contenir au moins 8 caractères, un caractère spécial, une majuscule et un nombre.";
        passwordInput.parentNode.insertBefore(errorDiv, passwordInput.nextSibling);
        event.preventDefault();
    }
});
    </script>
</body>
</html>