{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'signIn.css' %}">
    <title>ShallNotPass</title>
</head>
<body>
    {% include 'navigation.html' %}
        <form action="{% url 'signIn' %}" method="post">
            <h1>CONNEXION</h1>
            {% csrf_token %}
            {{ form.username.label_tag }}
            <div class="input-container">
                <img class="input-icon user-icn" src="{% static 'user-regular.svg' %}" alt="description de l'image"><br>
                {{ form.username }}<br>
            </div>
            {{ form.password.label_tag }}
            <div class="input-container">
                <img class="input-icon" src="{% static 'padlock-outlined-svgrepo-com.svg' %}" alt="description de l'image"><br>
                {{ form.password }}<br>
            </div>
            <input class="submit-btn" type="submit" value="Se connecter">
            <div class="to-login">Pas encore de compte ?<a  class="nav-to-login" href="{% url 'signUp' %}">M'inscrire</a></div>
        </form>
    <script>
    </script>
</body>
</html>